<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
 <!--   <p th:text="'Hello, ' + ${name} + '!'" />
    <img th:te src=""${name}>-->

 <!--<p th:text="${name}"> 123 </p>-->
 <!--<p th:text="'/resources/templates' + ${name}"> 123 </p>-->
 <!--<img th:src="${name}"/>-->
 <!--1-->
 <!--<p th:text="${name}"> 123 </p>-->
 <!--<img src="/images/1.jpg"/>-->
 <!--<img src="../../uploads/1.jpg"/>-->
 <img src="D://test/1.jpg"/>

 <!--<img th:src="templates/1.jpg"/>-->

 <!--<img th:src="1.jpg"/>-->

 <form id="upload-file-form">
        <label for="upload-file-input">Upload your file:</label>
        <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
        <br />
        <span id="upload-file-message"></span>

    </form>
    <br />
    <hr />

    <!-- Javascript functions -->
    <script>

        // bind the on-change event for the input element (triggered when a file
        // is chosen)
        $(document).ready(function() {
            $("#upload-file-input").on("change", uploadFile);
        });

        /**
         * Upload the file sending it via Ajax at the Spring Boot server.
         */
        function uploadFile() {
            $.ajax({
                url: "/greeting",
                type: "POST",
                data: new FormData($("#upload-file-form")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function () {
                    // Handle upload success
                    $("#upload-file-message").text("File succesfully uploaded");
                },
                error: function () {
                    // Handle upload error
                    $("#upload-file-message").text(
                            "File not uploaded (perhaps it's too much big)");
                }
            });
        } // function uploadFile
    </script>


</body>
</html>
